
.pc-mode{
    a.btn{
        cursor: pointer;
        display: flex;
        width: 130px;
        height: 48px;
        line-height: 48px;
        border:1px solid #ccc;
        border-radius: 8px;
        text-align: center;
        background-color: #fff;
        img{
            width: 24px;
            height: 24px;
            margin-right: 10px;
            top:10px;
            left: 16px;
            position: relative;
        }
        span{
            flex:1
        }
    }
    a.btn.blue{
        border:1px solid $theme-blue;
        background-color: $theme-blue;
        color: #fff;
    }
    .fixedHeaderContainer{
        background-color: transparent;
        padding: 0;
        .wrapper{
            max-width: inherit;
        }
        .logo{
            margin-left: 24px;
            margin-top: 16px;
            max-width: 999px;
        }
    }
    .intro-box{
        margin-top: 125px;
        font-size: 16px;
        height: 465px;
        .wrap{
            width: 1080px;
            margin: 0 auto;
            position: relative;
            font-weight: 100;
            .paragraph{
                margin-bottom: 20px;
            }
            .pag{
                display: block;
                margin-bottom: 30px;
            }
            .logo-l{
                position: absolute;
                right: 0;
                top: 0;
            }
            .btn-bar{
                display: flex;
                a{
                    margin-top: 30px;
                    margin-right: 15px;
                    font-weight: 400;
                }
            }
            .tip{
                margin-top: 15px;
                color: #666;
                font-size: 12px;
                line-height: 18px;
                display: block;
            }
        }
    }
    .main{
        background-color: #fff;
        position: relative;
        padding-top: 95px;
        .chapter{
            margin: 0 auto;
            width: 1080px;
            .wrap{
                display: flex;
                justify-content:space-between
            }
            .reverse{
                flex-direction: row-reverse ;
            }
            .feature{
                display: block;
                margin-bottom: 45px;
            }
            .text{
                font-size: 16px;
                line-height: 24px;
                font-weight: 100;
            }
            .arrow{
                display: block;
                margin: 72px auto 72px auto;
                position: relative;
                right: -10px;
            }
            .arrow.reverse{
                transform:scaleX(-1);
                right: 17px;
            }
            .num{
                margin-bottom:15px;
            }
            .title{
                font-size: 32px;
                line-height: 48px;
                font-weight: 900;
                margin-bottom: 30px;
            }
            .title::after{
                content: "。";
            }
            .btn-bar{
                display: flex;
                a{
                    margin-top: 48px;
                    margin-right: 15px;
                }
            }
        }
        .chapter:last-child{
            padding-bottom: 105px;
        }
    }
    .partner{
        padding-top: 95px;
        position: relative;
        padding-bottom: 255px;
        .wrap{
            width: 1080px;
            margin: 0 auto;
            .title{
                margin-top: 25px;
                margin-bottom: 25px;
                font-size: 32px;
                line-height: 48px;
                font-weight: 900;
            }
            .gallery{
                display: flex;
                flex-wrap: wrap;
                // justify-content: space-between;
            }
            .item:nth-child(6n){
                margin-right: 0;
            }
            .item{
                margin-right: 35px;
                width: 150px;
                text-align: center;
                border-top: 1px solid rgba(0,0,0,.16);
                padding-top: 25px;
                .thumb{
                    width: 80px;
                    height: 80px;
                    border-radius: 18px;
                    box-shadow: 0 0 8px rgba(0,0,0,.16);
                }
                .name{
                    margin-top: 14px;
                    line-height: 24px;
                    font-size: 16px;
                    margin-bottom: 24px;
                }
            }
            .btn-bar{
                display: flex;
                a{
                    margin-top: 23px;
                    margin-right: 15px;
                }
            }
        }
    }
    .download{
        background-color: #222;
        position: relative;
        .wrap{
            width: 1080px;
            margin: 0 auto;
            padding-bottom: 95px;
            border-bottom: 1px solid rgba(255,255,255,.16);
            img{
                margin-top: -160px;
            }
            .pkg{
                position: relative;
                .pkg-download{
                    display: inline-block;
                    width: 507px;
                    height: 616px;
                    margin-top: -160px;
                    background-image: url('/img/new_official_website/pkg_download.png');
                }
            }
            text-align: center;
            .mac-download,
            .win-download{
                position: absolute;
                width: 235px;
                height: 64px;
                display: block;
                bottom: 6px;
                left: 50%;
            }
            .mac-download{
                // left: 0;
                margin-left: -256px;
            }
            .win-download{
                margin-left: -5px;
                // right: 0;
            }
        }
    }
    .customer-service{
     position: fixed;   
     right: 45px;
     bottom: 65px;
     #js_cs_popup{
         display: none;
     }
     .panel{
         position: absolute;
         width: 384px;
         height: 596px;
         border-radius: 24px;
         background-color: $theme-blue;
         right: 8px;
         bottom: 135px;
         box-shadow: 0 8px 16px rgba(0,0,0,.24);
         .title{
            padding: 22px 0 22px 22px;
            font-size:32px;
            line-height: 48px;
            color: #fff;
         }
         .content{
            font-weight: 100;
            padding: 0 22px 22px 22px ;
            background-color: $theme-blue;
            font-size:16px;
            line-height: 24px;
            color: #fff;
        } 
        .questions{
            height: 325px;
            background-color: #fff;
            overflow: scroll;
            box-shadow: 0 -1px 4px rgba(0,0,0,.16);
            .q-wrap{
                .unit{
                    .unit-wrap{
                        cursor: pointer;
                        border-bottom: 1px solid rgba(0,0,0,.16);
                        // margin:22px 0 22px 22px;
                        // padding-left: 22px;
                        // padding-right: 22px;
                        // padding: 22px;
                        // padding-bottom: 22px;
                        margin: 22px;
                        line-height: 24px;
                        font-size: 16px;
                        padding-bottom: 22px;
                    }
                    .unit-wrap:hover{
                        color: $theme-blue;
                    }
                    // height: 72px;
                }
            }
         }
         .more{
            color: $theme-blue;
             z-index: 10;
             background-color: #fff;
             height: 96px;
             border-bottom-left-radius: 24px;
             border-bottom-right-radius: 24px;
             font-weight: 100;
             text-align: center;
             padding-top: 25px;
             font-size: 16px;
             line-height: 24px;
             box-shadow: 0 0 4px rgba(0,0,0,0.16);
             .strong{
                 cursor: pointer;
                 text-decoration: underline;
                 a{
                     color: $theme-blue;
                 }
             }
         }
        }
    }
    
    
    // rewrite default style
    .nav-footer{
        background-color: #222;
    }
    .headerTitleWithLogo{
        display: none !important;
    }
    .headerWrapper{
        header{
            a{
                float: left;
                .logo{
                    margin-top: 39px;
                    width: 133px;
                    height: 48px;
                }
            }
        }
    }
    .fixedHeaderContainer{
        height: 80px;
        backdrop-filter: saturate(180%) blur(20px);
        background-color: hsla(0,0%,100%,.8);
        header{
            display: block;
        }
        .wrapper{
            padding: 0;
        }
    }
    .navigationWrapper{
        margin: 0 auto !important;
        .slidingNav{
            width: 1080px !important;
            margin: 0 auto !important;
        }
    }
    .navigationSlider .slidingNav ul{
        background-color: transparent !important;
    }
    .nav-site.nav-site-internal{
        width: 223px !important;
        margin: 0 auto !important;
        li{
            a{
                cursor: pointer;
                color:#000 !important;
                margin-top: 23px !important;
                font-weight: 400 !important;
            }
        }
        li:nth-child(1),
        li:nth-child(2),
        li:nth-child(3){
            a{
                color: #000 !important;
                text-align: center;
                position: relative;
            }
            a:hover{
                background-color: transparent  !important;
                color: $theme-blue !important;
            }
        }
        li:nth-child(1){
            a:hover:after,a.active{
                content: "";
                border-top: 2px solid $theme-blue;
                position: absolute;
                width: 30px;
                height: 1px;
                bottom: -13px;
            }
        }
        li:nth-child(2){
            a:hover:after,a.active{
                content: "";
                border-top: 2px solid $theme-blue;
                position: absolute;
                width: 65px;
                height: 1px;
                bottom: -13px;
            }
        }
        li:nth-child(3){
            a:hover:after,a.active{
                content: "";
                border-top: 2px solid $theme-blue;
                position: absolute;
                width: 56px;
                height: 1px;
                bottom: -13px;
            }
        }
        li:nth-child(4),
        li:nth-child(5){
            position: fixed;
        }
        li:nth-child(4){
            right: 135px;
            a{
                color: $theme-blue !important;
            }
            a:hover{
                background-color: transparent  !important;
            }
        }
        li:nth-child(5){
            right: 25px;
            a{
                border-radius: 8px;
                background-color:  $theme-blue;
                color: #fff !important;
                height: 40px;
                width: 88px;
                margin-top: 20px !important;
            }
            a:hover{
                background-color: $theme-blue !important;
            }
            
        }
    }
    .nav-footer{
        display: flex;
        .copyright{
            min-width: 1080px;
            font-size: 12px;
            line-height: 24px;
            margin: 0 auto;
            text-align: left !important;
            justify-content: space-between;
        }
        .git-icon{
            width: 24px;
            height: 24px;
            background-image: url('/img/new_official_website/github.png');
            background-repeat: no-repeat;
            margin-right: 20px;
            cursor: pointer;
            float: left;
        }
        .qq-group-icon{
            float: left;
            cursor: pointer;
            padding-left: 33px;
            height: 24px;
            line-height: 24px;
            background-repeat: no-repeat;
            background-image: url('/img/new_official_website/qq.png');
            color: #ccc;
        }
        div:nth-child(3){
            float: right;
        }
    }
    // 文档页箭头
    .docs-prevnext{
        .docs-prev{
            >span:nth-child(1){ //箭头
                color: transparent;
            }
            >span:nth-child(1):after{
                content: "";
                width: 40px;
                height: 40px;
                position: absolute;
                left: 0;
                top: -3px;
                border-radius: 40px;
                border: 1px solid #333;
                background-image: url('/img/new_official_website/arrow_right.png');
                background-repeat: no-repeat;
                background-position: center center;
            }
            
            >span:nth-child(2){ //文字
                visibility: hidden;
            }
        }
        .docs-prev:hover{
            >span:nth-child(1):after{
                border: 1px solid $theme-blue;
                background-image: url('/img/new_official_website/arrow_left.png');
                transform: scaleX(-1);
            }
            >span:nth-child(2){ //文字 tooltip
                visibility: visible;
                color: #fff;
                background-color: rgba(0,0,0,.48);
                font-size: 10px;
                line-height: 14px;
                padding-left:4px;
                padding-right:4px;
                border-radius: 2px;
                left: 0;    
                top: -25px;
                position: absolute;
                height: 18px;
                line-height: 18px;
            }
        }
        .docs-next{
            >span:nth-child(1){ //文字
                visibility: hidden;
            }
            >span:nth-child(2){//箭头
                color: transparent;
            }
            >span:nth-child(2):after{ 
                content: "";
                width: 40px;
                height: 40px;
                position: absolute;
                right: 0;
                top: -3px;
                border-radius: 40px;
                border: 1px solid #333;
                background-image: url('/img/new_official_website/arrow_right.png');
                transform: scaleX(-1);
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        .docs-next:hover{
            >span:nth-child(2):after{
                border: 1px solid $theme-blue;
                background-image: url('/img/new_official_website/arrow_left.png');
                transform: scaleX(1);
            }
            >span:nth-child(1){  //文字 tooltip
                visibility: visible;
                color: #fff;
                background-color: rgba(0,0,0,.48);
                font-size: 10px;
                line-height: 14px;
                padding-left:4px;
                padding-right:4px;
                border-radius: 2px;
                right: 0;    
                top: -25px;
                position: absolute;
                height: 18px;
                line-height: 18px;
            }
        }
        .docs-prev
        ,.docs-next{
            border: none;
            position: relative;
            width: auto;
            min-width: 150px;
        }
    
        .docs-prev:after,
        .docs-next:after{
            font-size: 16px;
            position: absolute;
        }
        .docs-prev:after{
            content: "上一篇";
            left: 55px;
            top: 10px;
        }
        .docs-next:after{
            content: "下一篇";
            right: 55px;
            top: 10px;
        }
        .docs-prev:hover
        ,.docs-next:hover{
            background: none;
        }
        
        .docs-prev:hover:after,
        .docs-next:hover:after{
            color: $theme-blue;
        }
        .docs-prev{
            
        }
        .docs-next{
    
        }
    }
    // 文档菜单栏
    .toc {
        .toggleNav {
            width: 360px;
            .navGroup {
                .navGroupCategoryTitle{
                    font-size: 24px;
                    line-height: 32px;
                    height: 40px;
                    padding-left:33px;
                }
            }
            ul{
                padding:0;
                li{
                    padding-left:33px;
                    a{
                        font-size: 16px;
                        line-height: 40px;
                        font-weight: 100;
                        color: #333;
                        padding:0;
                        height: 40px;
                    }
                }
                li:last-child{
                    margin-bottom: 24px !important;
                }
                li.navListItemActive{
                    background-color: #D7EBFF;
                    a{
                        color: $theme-blue;
                    }
                }
            }
        }
    }
    &.separateOnPageNav .wrapper, &.separateOnPageNav .headerWrapper.wrapper{
        // max-width: 99999px;
    }
    &.separateOnPageNav  {
        .navPusher .mainContainer{
            max-width: 720px;
            padding:48px 0 0;
        }
    }
    .navPusher{
        .docMainWrapper.wrapper{
            padding:0 20px 0 0;
        }
    }
    .onPageNav{
        position: fixed;
        top: 90px;
        right: 138px;
    }
    .docMainWrapper > *:first-child{
        flex: 0 0 360px;
    }
    &.separateOnPageNav .toc{
        width: 360px;
    }
    // users.html
    .navPusher{
        .usersContainer{
            padding: 48px 0 0;
            .container{
                .wrapper{
                    .showcaseSection{
                        max-width: 1080px;
                        .prose{
                            max-width: 1080px;
                            h1{
                                text-align: left;
                                font-size: 32px;
                                line-height: 40px;
                            }
                        }
                        .logos{
                            display: flex;
                            flex-wrap: wrap;
                            padding-bottom: 180px;
                            justify-content: flex-start;
                            >a:nth-child(6n){
                                margin-right: 0;
                            }
                            >a{
                                margin-right: 35px;
                                width: 150px;
                                text-align: center;
                                border-top: 1px solid rgba(0,0,0,.16);
                                padding-top: 25px;
                                >img{
                                    width: 80px;
                                    height: 80px;
                                    border-radius: 18px;
                                    box-shadow: 0 0 8px rgba(0,0,0,.16);
                                    padding:0;
                                }
                                .name{
                                    margin-top: 14px;
                                    line-height: 24px;
                                    font-size: 16px;
                                    margin-bottom: 24px;
                                }
                            }
                            .contact{
                                position: relative;
                                img{
                                    box-shadow: none;
                                }
                                .ts{
                                    position: absolute;
                                    font-size: 14px;
                                    line-height: 24px;
                                    color: $theme-blue;
                                    width: 100%;
                                    text-align: center;
                                    bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}