
.pc-mode{
    min-width: 1200px;

    a.btn{
        cursor: pointer;
        display: flex;
        width: 124px;
        height: 48px;
        line-height: 48px;
        border: 1px solid #ccc;
        border-radius: 8px;
        text-align: center;
        background-color: #fff;
        img{
            width: 24px;
            height: 24px;
            margin-right: 10px;
            top: 12px;
            left: 16px;
            position: relative;
        }
        span{
            flex:1
        }
    }
    a.btn.blue{
        border: 1px solid $theme-blue;
        background-color: $theme-blue;
        color: #fff;
    }
    .fixedHeaderContainer{
        min-width: 1200px;
        padding: 0;
        .wrapper{
            max-width: inherit;
        }
        .logo{
            margin-left: 24px;
            margin-top: 16px;
            max-width: 999px;
        }
    }
    .intro-box{
        margin-top: 114px;
        font-size: 16px;
        height: 476px;

        .wrap{
            width: 980px;
            margin: 0 auto;
            position: relative;
            font-weight: 100;
            .paragraph{
                font-size: 16px;
                font-weight: 300;
                margin-bottom: 23px;
                font-family: 'PingFangSC-Light'!important;
            }
            .pag{
                width: 231px;
                display: block;
                margin-bottom: 25px;
            }
            .logo-l{
                position: absolute;
                right: 0;
                top: 10px;
                width: 360px;
            }
            .btn-bar{
                display: flex;
                margin-top: 32px;
                a{
                    margin-right: 15px;
                    font-weight: 600;
                }
            }
            .tip{
                margin-top: 16px;
                color: #666;
                font-size: 12px;
                line-height: 18px;
                display: block;
            }
        }
    }
    .main{
        background-color: #fff;
        position: relative;
        padding-top: 95px;
        .chapter{
            margin: 0 auto;
            width: 980px;
            .wrap{
                display: flex;
                justify-content:space-between;
            }
            .reverse{
                flex-direction: row-reverse ;
            }
            .detail.reverse{
                padding-right: 7px;
            }
            .feature{
                display: block;
                margin-bottom: 48px;
                width: 80px;
            }
            .text{
                font-size: 16px;
                line-height: 24px;
                font-weight: 300;
                font-family: 'PingFangSC-Light'!important;
            }
            .arrow{
                width: 33px;
                display: block;
                margin: 35px auto 46px auto;
                position: relative;
                right: -10px;
            }
            .arrow.reverse{
                transform:scaleX(-1);
                right: 17px;
            }
            .num{
                margin-bottom: 14px;
                height: 72px;
            }
            .title{
                height: 48px;
                font-size: 32px;
                line-height: 48px;
                font-weight: 900;
                margin-bottom: 24px;
                font-family: 'PingFangSC-Semibold'!important;
            }
            .btn-bar{
                display: flex;
                a{
                    margin-top: 46px;
                    font-weight: 600;
                }
            }
            .btn-bar.reverse{
                display: flex;
                flex-direction: row-reverse;
                margin-right: -7px;
                a{
                    margin-top: 48px;
                    font-weight: 600;
                }
            }
        }
        .chapter:last-child{
            padding-bottom: 83px;
        }
    }
    .partner{
        padding-top: 96px;
        position: relative;
        padding-bottom: 255px;
        .wrap{
            width: 980px;
            margin: 0 auto;
            .users{
                width: 65px;
            }
            .title{
                margin-top: 19px;
                margin-bottom: 23px;
                font-size: 32px;
                line-height: 48px;
                font-weight: 900;
            }
            .gallery{
                display: flex;
                flex-wrap: wrap;
                // justify-content: space-between;
            }
            .item:nth-child(6n){
                margin-right: 0;
            }
            .item{
                margin-right: 16px;
                width: 150px;
                text-align: center;
                border-top: 1px solid rgba(0,0,0,.16);
                padding-top: 25px;
                .thumb{
                    width: 80px;
                    height: 80px;
                    border-radius: 18px;
                    box-shadow: 0 0 8px rgba(0,0,0,.16);
                }
                .name{
                    margin-top: 16px;
                    line-height: 24px;
                    font-size: 16px;
                    margin-bottom: 24px;
                }
            }
            .btn-bar{
                display: flex;
                margin-top: 4px;
                a{
                    margin-top: 23px;
                    margin-right: 15px;
                    font-weight: 600;
                }
            }
        }
    }
    .download{
        background-color: #222;
        position: relative;
        .wrap{
            width: 980px;
            margin: 0 auto;
            padding-bottom: 90px;
            border-bottom: 1px solid rgba(255,255,255,.16);
            img{
                margin-top: -160px;
            }
            .pkg{
                position: relative;
                .pkg-download{
                    display: inline-block;
                    width: 507px;
                    height: 616px;
                    margin-top: -160px;
                    background-size: 507px 616px;
                    background-image: url('https://pag.qq.com/website/static/img/new_official_website/pkg_download.png');
                }
            }
            text-align: center;
            .mac-download,
            .win-download{
                position: absolute;
                width: 235px;
                height: 64px;
                display: block;
                bottom: 6px;
                left: 50%;
            }
            .mac-download{
                // left: 0;
                margin-left: -256px;
            }
            .win-download{
                margin-left: -5px;
                // right: 0;
            }
        }
    }
    .customer-service{
     position: fixed;   
     right: 40px;
     bottom: 36px;
     z-index: 1;
     #js_cs_popup{
         display: none;
     }
     #js_cs{
         width: 96px;
     }
     .panel{
         position: absolute;
         width: 384px;
         height: 596px;
         border-radius: 24px;
         background-color: $theme-blue;
         right: 8px;
         bottom: 135px;
         box-shadow: 0 8px 16px rgba(0,0,0,.24);
         .title{
            padding: 22px 0 22px 22px;
            font-size:32px;
            line-height: 48px;
            color: #fff;
         }
         .content{
            font-weight: 100;
            padding: 0 22px 22px 22px ;
            background-color: $theme-blue;
            font-size:16px;
            line-height: 24px;
            color: #fff;
        } 
        .questions{
            height: 325px;
            background-color: #fff;
            overflow: scroll;
            box-shadow: 0 -1px 4px rgba(0,0,0,.16);
            .q-wrap{
                .unit{
                    .unit-wrap{
                        cursor: pointer;
                        border-bottom: 1px solid rgba(0,0,0,.16);
                        // margin:22px 0 22px 22px;
                        // padding-left: 22px;
                        // padding-right: 22px;
                        // padding: 22px;
                        // padding-bottom: 22px;
                        margin: 22px;
                        line-height: 24px;
                        font-size: 16px;
                        padding-bottom: 22px;
                    }
                    .unit-wrap:hover{
                        color: $theme-blue;
                    }
                    // height: 72px;
                }
            }
         }
         .more{
            color: $theme-blue;
             z-index: 10;
             background-color: #fff;
             height: 96px;
             border-bottom-left-radius: 24px;
             border-bottom-right-radius: 24px;
             font-weight: 100;
             text-align: center;
             padding-top: 25px;
             font-size: 16px;
             line-height: 24px;
             box-shadow: 0 0 4px rgba(0,0,0,0.16);
             .strong{
                 cursor: pointer;
                 text-decoration: underline;
                 a{
                     color: $theme-blue;
                 }
             }
         }
        }
    }
    
    
    // rewrite default style
    .nav-footer{
        background-color: #222;
    }
    .headerTitleWithLogo{
        display: none !important;
    }
    .headerWrapper{
        header{
            a{
                float: left;
                .logo{
                    position: fixed;
                    margin-top: 39px;
                    width: 133px;
                    height: 48px;
                }
            }
        }
    }
    .fixedHeaderContainer{
        height: 80px;
        backdrop-filter: saturate(180%) blur(20px);
        background-color: hsla(0,0%,100%,.8) !important;
        header{
            display: block;
        }
        .wrapper{
            padding: 0;
        }
    }
    .navigationWrapper{
        margin: 0 auto !important;
        .slidingNav{
            width: 1080px !important;
            margin: 0 auto !important;
        }
    }
    .navigationSlider .slidingNav ul {
        background: transparent !important;
    }
    .navigationSlider .slidingNav ul li > a:focus, .navigationSlider .slidingNav ul li > a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive > a, .navigationSlider .slidingNav ul li.siteNavGroupActive > a:focus {
        background-color: transparent !important;
    }
    .nav-site.nav-site-internal{
        width: 448px !important;
        margin: 0 auto !important;
        display: flex;
        align-items: center;

        li{
            a{
                cursor: pointer;
                color:#000 !important;
                margin-top: 23px !important;
                font-weight: 600 !important;
                padding: 6px 16px 6px 16px;
            }
        }
        li:nth-child(1),
        li:nth-child(2),
        li:nth-child(3),
        li:nth-child(4),
        li:nth-child(5){
            a{
                color: #000 !important;
                text-align: center;
                position: relative;

            }
            a:hover{
                background-color: transparent  !important;
                color: $theme-blue !important;
            }
        }
        li:nth-child(1){
            a:hover:after,a.active{
                content: "";
                border-top: 2px solid $theme-blue;
                position: absolute;
                width: 30px;
                height: 1px;
                bottom: -8px;
            }
        }
        li:nth-child(2){
            a:hover:after,a.active{
                content: "";
                border-top: 2px solid $theme-blue;
                position: absolute;
                width: 80px;
                height: 1px;
                bottom: -8px;
            }
        }
        li:nth-child(3){
            a:hover:after,a.active{
                content: "";
                border-top: 2px solid $theme-blue;
                position: absolute;
                width: 80px;
                height: 1px;
                bottom: -8px;
            }
        }
        li:nth-child(4){
            a:hover:after,a.active{
                content: "";
                border-top: 2px solid $theme-blue;
                position: absolute;
                width: 65px;
                height: 1px;
                bottom: -8px;
            }
        }
        li:nth-child(5){
            a:hover:after,a.active{
                content: "";
                border-top: 2px solid $theme-blue;
                position: absolute;
                width: 55px;
                height: 1px;
                bottom: -8px;
            }
        }
        li:nth-child(6),
        li:nth-child(7),
        li:nth-child(8){
            position: fixed;
        }
        li:nth-child(6){
            right: 263px;
            a{
                width: 102px;
                height: 40px;
                color: #333333 !important;
                font-size: 16px;
                font-weight: 600;
                font-family: 'PingFangSC-Semibold'!important;
                float: left;
                padding: 8px 12px 8px 35px;
                background-repeat: no-repeat;
                background-size: 18px;
                background-position: 12.7% 50%;
                background-image: url('https://pag.qq.com/website/static/img/new_official_website/github_top.png');
                border: 1px solid #cccccc;
                border-radius: 8px;
                background-color: #ffffff!important;
                box-shadow: none;
                transition: all .3s cubic-bezier(.645,.045,.355,1);
            }
            a:hover{
                box-shadow: inset 0 0 4px #3495fc3e,
                            0 0 4px #3495fc3e;
                border-color: #005ad975;
                background-color: #ffffff!important;
                background-position: 12.7% 46%;
                background-image: url('https://pag.qq.com/website/static/img/new_official_website/star.png');
                animation: star 0.5s cubic-bezier(.645,.045,.355,1);
            }
        }
        li:nth-child(7){
            right: 141px;
            a{
                height: 40px;
                color: #333333 !important;
                font-size: 16px;
                font-weight: 600;
                font-family: 'PingFangSC-Semibold'!important;
                float: left;
                padding: 8px 12px 8px 32px;
                background-repeat: no-repeat;
                background-size: 15px 18px;
                background-position: 12.7% 50%;
                background-image: url('https://pag.qq.com/website/static/img/new_official_website/qq_group.png');
                border: 1px solid #cccccc;
                border-radius: 8px;
                background-color: #ffffff!important;
                transition: all .3s cubic-bezier(.645,.045,.355,1);
            }
            a:hover{
                box-shadow: inset 0 0 4px #3495fc3e,
                            0 0 4px #3495fc3e;
                border-color: #005ad975;
                background-color: #ffffff!important;
            }
        }
        li:nth-child(8){
            right: 25px;
            a{
                font-size: 16px;
                font-weight: 600;
                font-family: 'PingFangSC-Semibold'!important;
                border-radius: 8px;
                background-color:  $theme-blue;
                color: #ffffff !important;
                height: 40px;
                width: 88px;
                margin-top: 20px !important;
            }
            a:hover{
                background-color: $theme-blue !important;
            }
        }
        li.active{
            a{
                color: #000 !important;
                text-align: center;
                position: relative;
                background-color: transparent !important;
                color: $theme-blue !important;
            }
            a:after{
                content: "";
                border-top: 2px solid $theme-blue;
                position: absolute;
                
            }
        }
        li:nth-child(1).active{
            a:after{
                width: 30px;
                height: 1px;
                bottom: -8px;
            }
        }
        li:nth-child(2).active{
            a:after{
                width: 80px;
                height: 1px;
                bottom: -8px;
            }
        }
        li:nth-child(3).active{
            a:after{
                width: 80px;
                height: 1px;
                bottom: -8px;
            }
        }
        li:nth-child(4).active{
            a:after{
                width: 65px;
                height: 1px;
                bottom: -8px;
            }
        }
        li:nth-child(5).active{
            a:after{
                width: 56px;
                height: 1px;
                bottom: -8px;
            }
        }
    }
    
    .arrowPopup{
        position: fixed;
        display: none;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0,0,0,.16);
    }
    #navPopUp_github{
        right: 265px;
        top: 84px;
        padding: 16px;
        width: 96px;
        height: 56px;
        border-radius: 4px;
        overflow: hidden;
    }
    .shader{
        width: inherit;
        background-color: #ffffff;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 9;
        color: #005ad9ff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        overflow: hidden;
        font-family: "PingFangSC-Medium"!important;
        font-size: 16px;
    }
    #popup_github_wrapper{
        width: 96px;
        height: 56px;
    }
    #navPopUp_github::after{
        content: '';
        top: 78px;
        right: 297px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0,0,0,.16);
        height: 30px;
        width: 30px;
        position: fixed;
        margin-left: -30px;
        z-index: 9;
        transform: rotate(45deg);
        z-index: 1;
    }

    #navPopUp_qqgroup{
        right: 80px;
        top: 84px;
        padding: 16px;
        width: 222px;
        height: 56px;
        border-radius: 4px;
        overflow: hidden;
    }
    #navPopUp_qqgroup::after{
        content: '';
        top: 78px;
        right: 171px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0,0,0,.16);
        height: 30px;
        width: 30px;
        position: fixed;
        margin-left: -30px;
        z-index: 9;
        transform: rotate(45deg);
        z-index: 1;
    }
    #popup_qqgroup_wrapper{
        height: 56px;
        padding: 16px 16px 16px 42px;
        background-repeat: no-repeat;
        background-size: 16px 15px;
        background-position: 7.4% 50%;
        background-image: url('https://pag.qq.com/website/static/img/new_official_website/chat.png');
    }

    .nav-footer{
        display: flex;
        padding: 48px 0 48px 0;
        .copyright{
            display: flex;
            min-width: 980px;
            font-size: 12px;
            line-height: 24px;
            margin: 0 auto;
            text-align: left !important;
            justify-content: space-between;
            color: #cccccc;
        }
        .git-icon{
            width: 24px;
            height: 24px;
            background-image: url('https://pag.qq.com/website/static/img/new_official_website/github.png');
            background-repeat: no-repeat;
            background-size: 24px;
            margin-left: 20px;
            cursor: pointer;
            float: right;
        }
        .qq-group-icon{
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
            height: 24px;
            line-height: 24px;
            background-repeat: no-repeat;
            background-size: 24px;
            background-image: url('https://pag.qq.com/website/static/img/new_official_website/qq.png');
            background-position: 75% 50%;
            color: #cccccc;
        }
        div:nth-child(3){
            float: right;
            margin: 0 0 0 32px;
        }
        .privacy-policy {
            cursor: pointer;
            margin-left: 24px;
            font-size: 13px;
            font-weight: 500;
            color: #dadada;
        }
    }
    // 文档页箭头
    .docs-prevnext{
        .docs-prev{
            >span:nth-child(1){ //箭头
                color: transparent;
            }
            >span:nth-child(1):after{
                content: "";
                width: 40px;
                height: 40px;
                position: absolute;
                left: 0;
                top: -3px;
                border-radius: 40px;
                border: 1px solid #333;
                background-image: url('https://pag.qq.com/website/static/img/new_official_website/arrow_right.png');
                background-repeat: no-repeat;
                background-position: center center;
            }
            
            >span:nth-child(2){ //文字
                visibility: hidden;
            }
        }
        .docs-prev:hover{
            >span:nth-child(1):after{
                border: 1px solid $theme-blue;
                background-image: url('https://pag.qq.com/website/static/img/new_official_website/arrow_left.png');
                transform: scaleX(-1);
            }
            >span:nth-child(2){ //文字 tooltip
                visibility: visible;
                color: #fff;
                background-color: rgba(0,0,0,.48);
                font-size: 10px;
                line-height: 14px;
                padding-left:4px;
                padding-right:4px;
                border-radius: 2px;
                left: 0;    
                top: -25px;
                position: absolute;
                height: 18px;
                line-height: 18px;
            }
        }
        .docs-next{
            >span:nth-child(1){ //文字
                visibility: hidden;
            }
            >span:nth-child(2){//箭头
                color: transparent;
            }
            >span:nth-child(2):after{ 
                content: "";
                width: 40px;
                height: 40px;
                position: absolute;
                right: 0;
                top: -3px;
                border-radius: 40px;
                border: 1px solid #333;
                background-image: url('https://pag.qq.com/website/static/img/new_official_website/arrow_right.png');
                transform: scaleX(-1);
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        .docs-next:hover{
            >span:nth-child(2):after{
                border: 1px solid $theme-blue;
                background-image: url('https://pag.qq.com/website/static/img/new_official_website/arrow_left.png');
                transform: scaleX(1);
            }
            >span:nth-child(1){  //文字 tooltip
                visibility: visible;
                color: #fff;
                background-color: rgba(0,0,0,.48);
                font-size: 10px;
                line-height: 14px;
                padding-left:4px;
                padding-right:4px;
                border-radius: 2px;
                right: 0;    
                top: -25px;
                position: absolute;
                height: 18px;
                line-height: 18px;
            }
        }
        .docs-prev
        ,.docs-next{
            border: none;
            position: relative;
            width: auto;
            min-width: 150px;
        }
    
        .docs-prev:after,
        .docs-next:after{
            font-size: 16px;
            position: absolute;
        }
        .docs-prev:after{
            content: "上一篇";
            left: 55px;
            top: 10px;
        }
        .docs-next:after{
            content: "下一篇";
            right: 55px;
            top: 10px;
        }
        .docs-prev:hover
        ,.docs-next:hover{
            background: none;
        }
        
        .docs-prev:hover:after,
        .docs-next:hover:after{
            color: $theme-blue;
        }
    }
    // 文档菜单栏
    .toc {
        .toggleNav {
            width: 360px;
            .navGroup {
                .navGroupCategoryTitle{
                    font-size: 24px;
                    line-height: 32px;
                    min-height: 40px;
                    padding-left:33px;
                    font-weight: 700;
                }
            }
            ul{
                padding:0;
                li{
                    padding-left:33px;
                    a{
                        font-size: 16px;
                        line-height: 40px;
                        font-weight: 400;
                        color: #333;
                        padding:0;
                        min-height: 40px;
                    }
                }
                li:last-child{
                    margin-bottom: 24px !important;
                }
                li.navListItemActive{
                    background-color: #D7EBFF;
                    a{
                        color: $theme-blue;
                    }
                }
            }
        }
    }
    &.separateOnPageNav .wrapper, &.separateOnPageNav .headerWrapper.wrapper{
        // max-width: 99999px;
    }
    &.separateOnPageNav  {
        .navPusher .mainContainer{
            max-width: 720px;
            padding:48px 0 0;
        }
    }
    .navPusher{
        .docMainWrapper.wrapper{
            padding:0 20px 0 0;
        }
    }
    .onPageNav{
        position: fixed;
        top: 90px;
    }
    .docMainWrapper > *:first-child{
        flex: 0 0 380px;
    }
    &.separateOnPageNav .toc{
        width: 360px;
    }
    // users.html
    .navPusher{
        .usersContainer{
            padding: 48px 0 0;
            .container{
                .wrapper{
                    .showcaseSection{
                        max-width: 1080px;
                        min-width: 1080px;
                        width: 1080px;
                        .prose{
                            max-width: 1080px;
                            h1{
                                text-align: left;
                                font-size: 32px;
                                line-height: 40px;
                            }
                        }
                        .logos{
                            display: flex;
                            flex-wrap: wrap;
                            padding-bottom: 180px;
                            justify-content: flex-start;
                            >a:nth-child(6n){
                                margin-right: 0;
                            }
                            >a{
                                margin-right: 35px;
                                width: 150px;
                                text-align: center;
                                border-top: 1px solid rgba(0,0,0,.16);
                                padding-top: 25px;
                                >img{
                                    width: 80px;
                                    height: 80px;
                                    border-radius: 18px;
                                    box-shadow: 0 0 8px rgba(0,0,0,.16);
                                    padding:0;
                                }
                                .name{
                                    margin-top: 14px;
                                    line-height: 24px;
                                    font-size: 16px;
                                    margin-bottom: 24px;
                                }
                            }
                            .contact{
                                position: relative;
                                img{
                                    box-shadow: none;
                                }
                                .ts{
                                    position: absolute;
                                    font-size: 14px;
                                    line-height: 24px;
                                    color: $theme-blue;
                                    width: 100%;
                                    text-align: center;
                                    bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .pagView{
        visibility: hidden;
        margin: -15px -15px 0 -15px;
        padding: 0;
    }
    .pagApng{
        width: 578px;
        height: 390px;
        margin: -15px -15px 0 -15px;
    }
    .showCase-container{

        .caseMain{
            position: relative;
            padding-top: 0;
            padding-bottom: 400px;
            background-color:rgb(250, 250, 250);
        }
        #wallpaper{
            width: 640px;
            height: 640px;
            margin-left: -40px;
            margin-top: -10px;
            position: fixed;
            background-size: 640px, 640px;
            background-repeat: no-repeat;
            background-image: url('https://pag.qq.com/website/static/img/new_official_website/bgLogo.png');
            
        }
        .caseWrapper{
            width: 460px;
            padding: 0;
            margin: -80px auto 0 auto;
        }
        .caseBox{
            width: 460px;
            height: 1300px;
            // border: 3px skyblue solid;
            display: flex;
            align-items: center;

            .case{
                width: 460px;
                // border: 2px orange dashed;
                position: sticky;
                top: calc(100vh / 2 - 458px);
            }
        }
        .titleBox{
            opacity: 1;

            .mainTitle{
                height:48px;
                line-height: 48px;
                font-size: 46px;
                font-family: 'PingFangSC-Semibold';
                font-weight: 600;
                margin-bottom: 18px;
            }
            .subTitle{
                height: 24px;
                line-height: 24px;
                font-size: 18px;
                font-family: 'PingFangSC-Light'!important;
                font-weight: 300;
            }
        }
        .videoBox{
            width: 360px;
            margin: 48px auto 0 auto;
        }
        .video{
            width: 360px;
            height: 640px;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0,0,0,.16);
        }
        #progressBox{
            position: fixed;
            top: 50%;
            margin-top: -184px;
            display: flex;
            
        }
        #progressUl{
            margin: 0; 
            padding: 0;
            z-index: 9;
        }
        .mark{
            height: 24px;
            line-height: 24px;
            list-style-type: none;
            font-size: 16px;
            color: #33333334;
            margin: 0 auto 32px auto;
            transition-duration: 0.3s;
            transition-timing-function: ease-in;
        }
        .mark::before{
            content:'';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background-color: #33333334;
            margin-right: 12px;
            transition-duration: 0.3s;
            transition-timing-function: ease-in;
        }
        .mark::after{
            content:'';
            display: block;
            width: 2px;
            height: 46px;
            background-color: #33333334;
            position: relative;
            left: 4px;
            top: -6px;
        }
        .mark:hover{
            color: #3333338a;
            transition-duration: 0.2s;
            transition-timing-function: ease-in;
            cursor: pointer
        }
        .mark.active{
            font-size: 18px;
            color: #333333;       
            transition-duration: 0.3s;
            transition-timing-function: ease-in;
        }
        .mark.active::before{
            background-color: #333333; 
        }
        .mark.active::after{
            background: linear-gradient(#333333 0%, #33333334 100%);
        }
        .mark.near::after{
            background: linear-gradient(#33333334 0%, #333333 100%);
        }
        #progressUl li:last-child{
            margin: 0;
        }
        #progressUl li:last-child::after{
            display: none;
        }
        @keyframes clickMark{
            40% {transform: scale(0.9)}
            100% {transform: scale(1)}
        }
    }
    #faq{
        blockquote{
            color: #605600!important;
        }
    }
    #faqLogo{
        width: 640px;
        height: 640px;
        margin-left: -40px;
        margin-top: -40px;
        position: fixed;
        background-size: 640px, 640px;
        background-repeat: no-repeat;
        background-image: url('https://pag.qq.com/website/static/img/new_official_website/bgLogo.png');
    }
    #faqLogo::after{
        content: '';
        display: block;
        width: 640px;
        height: 640px;
        -webkit-backdrop-filter: saturate(180%) blur(8px);
        backdrop-filter: saturate(180%) blur(8px);
        z-index: 9;
    }
    @keyframes star {
        0% {
            background-size: 18px;
            background-position: 12.7% 46%;
            font-size: 16px;
        }
        75% {
            background-size: 30px;
            background-position: 6.7% 40%;
            font-size: 18px;
        }
        100% {
            background-size: 18px;
            background-position: 12.7% 46%;
            font-size: 16px;
        }
    }
    #pdfViewer {
        width: 980px;
        height: 750px;
        border-bottom: 6px solid rgb(122,122,122);
    }
    #pdfDownload {
        font-size: 14px;
        font-family: 'PingFangSC-Semibold'!important;
        border-radius: 8px;
        background-color:  $theme-blue;
        color: #ffffff !important;
        height: 40px;
        width: 88px;
        margin-bottom: 20px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer
    }
    .pag-player {
        width: 100%;
        padding-top: 48px;
        .box {
            position: relative;
            width: 720px;
            margin: 16px auto 0;
            border: 1px #dae1e7 solid;
            border-radius: 8px;
            -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .06);
            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .06);
            .tip {
                position: absolute;
                top: 172px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 14px;
                text-align: center;
                pointer-events: none;
                .text {
                    margin-top: 24px;
                }
            }
            .canvas {
                display: block;
                margin: 24px auto 0;
                border: 1px #dae1e7 dashed;
            }
            .btn-load {
                display: block;
                margin: 16px auto 16px;
                font-size: 14px;
                border: 0;
                background: transparent;
                color: #005AD9;
                cursor: pointer;
            }
            .input-load {
                display: none;
            }
        }
        .guide{
            margin-top: 24px;
            text-align: center;
            font-size: 14px;
        }
    }
}